<div class="views">

  <div class="page" data-name="home">

    <div class="navbar">
        <div class="navbar-inner sliding">
          <div class="left">
            <a class="link back">
              <i class="icon icon-back"></i>
              <span class="ios-only">Back</span>
            </a>
          </div>
          <div class="title">Hide On Scroll</div>
        </div>
      </div>


    <div class="page-content">
      ... scrollable page content goes here ...
    </div>
  </div>

</div>
