<div class="page" data-name="subscribe">

    <div class="navbar">
        <div class="navbar-inner sliding">
          <div class="left">
            <a class="link back">
              <i class="f7-icons">reply</i>
              <span class="ios-only">Back</span>
            </a>
          </div>
          <div class="title " style="color:black;"></div>
        </div>
      </div>




    <div class="page-content obstyle hide-navbar-on-scroll infinite-scroll-content">

          <div id="reactSubscribe"></div>

    </div>


  </div>
