<div class="content-block-title">Full Layout</div>
    <div class="list-block">
      <ul>
        <li class="item-content" ng-repeat-start="friend in friends"  >
          <div class="item-media" ng-click="chiliSpicy()"><i class="icon icon-f7"></i></div>
          <div class="item-inner">
            <div class="item-title">{{friend.name}}</div>
            <div class="item-after">Label</div>
          </div>
        </li>
        
      </ul>

    </div>