<div class="views">

  <div class="page" data-name="add">

    <div class="navbar">
        <div class="navbar-inner sliding">
          <div class="left">
            <a class="link back">
              <i class="f7-icons">reply</i>
              <span class="ios-only">назад</span>
            </a>
          </div>
          <!-- <div class="title">Hide On Scroll</div> -->
        </div>
      </div>


      <div class="page-content hide-navbar-on-scroll" style="background-color:white;">



        <form name="addform" id="form_to_submit" ng-submit="" style="margin-bottom: 200px;" class="list no-hairlines-md "> <!-- store-data -->


              <ul>

                 <li class="item-content item-input">
                    <div class="item-inner">
                      <div class="item-title item-label">Заголовок</div>
                      <div class="item-input-wrap">
                        <input type="text" required name="zagolovok" ng-model="user.zagolovok" placeholder="Заголовок публикации">
                        <span class="input-clear-button"></span>
                      </div>
                    </div>
                  </li>




                <li class="item-content item-input">
                   <div class="item-inner">
                     <div class="item-title item-label">цена</div>
                     <div class="item-input-wrap">
                       <input type="number" required name="sena"  ng-model="user.sena" placeholder="цена в тг">
                       <span class="input-clear-button"></span>
                     </div>
                   </div>
                 </li>
                  <!-- Another radio input -->

                  <li>
                    <label class="item-checkbox item-content">
                      <input type="checkbox" name="sena1" value="777" />
                      <i class="icon icon-checkbox"></i>
                      <div class="item-inner">
                        <div class="item-title">договорная</div>
                      </div>
                    </label>
                  </li>


                  <li>
                    <label class="item-checkbox item-content">
                      <input type="checkbox" name="sena2" value="999" />
                      <i class="icon icon-checkbox"></i>
                      <div class="item-inner">
                        <div class="item-title">отдам даром</div>
                      </div>
                    </label>
                  </li>


                      <li>
                        <label class="item-checkbox item-content">
                          <input type="checkbox" name="obmen" value="интересует обмен" />
                          <i class="icon icon-checkbox"></i>
                          <div class="item-inner">
                            <div class="item-title">интересует обмен</div>
                          </div>
                        </label>
                      </li>

                      <li>
                        <label class="item-checkbox item-content">
                          <input type="checkbox" name="nalichii1" value="на заказ" />
                          <i class="icon icon-checkbox"></i>
                          <div class="item-inner">
                            <div class="item-title">на заказ</div>
                          </div>
                        </label>
                      </li>




                  <!-- nedvizhimost -->

                <li class="nedvhide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">количество комнат</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="kolkomnat1" placeholder="количество комнат" >
                      </div>
                    </div>
                  </div>
                </li>




                <li class="nedvhide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">общая площадь/м2</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="ploshad1" placeholder="общая площадь/м2" >
                      </div>
                    </div>
                  </div>
                </li>

                <li class="nedvhide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">этаж</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="etazh1" placeholder="этаж" >
                      </div>
                    </div>
                  </div>
                </li>

                <li class="nedvhide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">этажей в доме</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="etazhvdome" placeholder="этажей в доме" >
                      </div>
                    </div>
                  </div>
                </li>

                <li class="nedvhide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">год постройки</div>
                      <div class="item-input-wrap">
                        <input type="text" required name="yearpostroiki" class="yearmask" placeholder="год постройки">
                      </div>
                    </div>
                  </div>
                </li>

                <li class="nedvhide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">материал стен</div>
                      <div class="item-input-wrap">
                        <input type="text" required name="materialsten" placeholder="кирпичный" readonly class="picker-sten">
                      </div>
                    </div>
                  </div>
                </li>

                 <!-- nedvizhimost -->

                 <!-- prodazha domov -->
                <li class="domhide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">расстояние от города</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="rasstotgoroda" placeholder="расстояние от города" >
                      </div>
                    </div>
                  </div>
                </li>


                <li class="domhide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">площадь дома</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="ploshaddoma" placeholder="площадь дома" >
                      </div>
                    </div>
                  </div>
                </li>

                <li class="domhide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">тип дома</div>
                      <div class="item-input-wrap">
                        <input type="text" required name="typedoma" placeholder="коттедж" readonly id="picker-type">
                      </div>
                    </div>
                  </div>
                </li>

                <li class="domhide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">год постройки</div>
                      <div class="item-input-wrap">
                        <input type="text" required name="yearpostroiki2" class="yearmask" placeholder="год постройки">
                      </div>
                    </div>
                  </div>
                </li>

                 <!-- prodazha domov -->

                 <!-- prodazha dachi -->

                 <li class="dachahide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">расстояние от города</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="rasstotgoroda2" placeholder="расстояние от города" >
                      </div>
                    </div>
                  </div>
                </li>


                <li class="dachahide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">площадь дома</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="ploshaddoma1" placeholder="площадь дома" >
                      </div>
                    </div>
                  </div>
                </li>


                <li class="dachahide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">площадь участка</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="ploshaduchastka" placeholder="площадь участка" >
                      </div>
                    </div>
                  </div>
                </li>

                <li class="dachahide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">тип дома</div>
                      <div class="item-input-wrap">
                        <input type="text" required name="typedoma1" placeholder="коттедж" readonly id="picker-type2">
                      </div>
                    </div>
                  </div>
                </li>


                 <!-- prodazha dachi -->

                 <!-- prodazha uchastka -->

                  <li class="uchastokhide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">расстояние от города</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="rasstotgoroda3" placeholder="расстояние от города" >
                      </div>
                    </div>
                  </div>
                </li>

                <li class="uchastokhide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">площадь участка</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="ploshaduchastka1" placeholder="площадь участка" >
                      </div>
                    </div>
                  </div>
                </li>


                 <!-- prodazha uchastka -->

                  <!-- prodazha ofisa -->

                  <li class="ofishide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">количество комнат</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="kolkomnat" placeholder="количество комнат" >
                      </div>
                    </div>
                  </div>
                </li>

                <li class="ofishide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">общая площадь/м2</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="ploshad2" placeholder="общая площадь/м2" >
                      </div>
                    </div>
                  </div>
                </li>

                  <!-- prodazha ofisa -->

                  <!-- prodazha pomesheniya -->

                  <li class="pomeshhide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">общая площадь/м2</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="ploshad3" placeholder="общая площадь/м2" >
                      </div>
                    </div>
                  </div>
                </li>

                <li class="pomeshhide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">этаж</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="etazh2" placeholder="этаж" >
                      </div>
                    </div>
                  </div>
                </li>

                <li class="pomeshhide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">этажей в здании</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="etazhvzdanii" placeholder="этажей в здании">
                      </div>
                    </div>
                  </div>
                </li>

                <li class="pomeshhide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">тип помещения</div>
                      <div class="item-input-wrap">
                        <input type="text" required name="typepomesheniya" placeholder="в бизнес центре" readonly id="picker-type3">
                      </div>
                    </div>
                  </div>
                </li>

                  <!-- prodazha pomesheniya -->

                  <!-- prodazha zdaniya -->

                  <li class="zdaniehide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">год постройки</div>
                      <div class="item-input-wrap">
                        <input type="text" required name="yearpostroiki3" class="yearmask" placeholder="год постройки">
                      </div>
                    </div>
                  </div>
                </li>


                 <li class="zdaniehide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">общая площадь/м2</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="ploshad4" placeholder="общая площадь/м2" >
                      </div>
                    </div>
                  </div>
                </li>


                <li class="zdaniehide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">этажей в здании</div>
                      <div class="item-input-wrap">
                        <input type="number" required name="etazhvzdanii1" placeholder="этажей в здании">
                      </div>
                    </div>
                  </div>
                </li>

                <li class="zdaniehide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">материал стен</div>
                      <div class="item-input-wrap">
                        <input type="text" required name="materialsten2" placeholder="кирпичный" readonly class="picker-sten2">
                      </div>
                    </div>
                  </div>
                </li>


                <li class="zdaniehide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">тип здания</div>
                      <div class="item-input-wrap">
                        <input type="text" required name="typezdaniya" placeholder="улучшенное" readonly id="picker-type4">
                      </div>
                    </div>
                  </div>
                </li>

                  <!-- prodazha zdaniya -->

                  <!-- prodazha mag -->

                  <li class="maghide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                      <div class="item-title item-label">общая площадь/м2</div>
                        <div class="item-input-wrap">
                          <input type="number" required name="ploshad5" placeholder="общая площадь/м2" >
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="maghide allhide">
                  <div class="item-content item-input">
                    <div class="item-inner">
                    <div class="item-title item-label">тип помещения</div>
                      <div class="item-input-wrap">
                        <input type="text" required name="typepomesh" placeholder="в бизнес центре" readonly id="picker-type7">
                      </div>
                    </div>
                  </div>
                </li>

                  <!-- prodazha mag -->

                  <!-- srok sdachi -->

                  <li class="sroksdachi allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-input-wrap">
                          <input type="text" required name="srok_sdachi" placeholder="срок сдачи" readonly id="sroksdachi">
                        </div>
                      </div>
                    </div>
                  </li>
                  <!-- srok sdachi -->

                  <!-- sena ot do -->

                  <li class="senaot allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                      <div class="item-title item-label">цена от</div>
                        <div class="item-input-wrap">
                          <input type="number" required name="kupit_ot" placeholder="цена от/тг" >
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="senaot allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                      <div class="item-title item-label">цена до</div>
                        <div class="item-input-wrap">
                          <input type="number" required name="kupit_do" placeholder="цена до/тг" >
                        </div>
                      </div>
                    </div>
                  </li>
                  <!-- sena ot do -->


                  <!-- prodazha zapchasti -->
                  <div class="block zapchbuttons allhide">
                    <p class="segmented segmented-raised">
                      <button class="legk button ">легковая</button>
                      <button class="gruz button ">грузовая</button>
                    </p>

                  </div>




                  <li class="zapchhide allhide">
                     <div class="item-content item-input">
                       <div class="item-inner">
                         <div class="item-input-wrap">
                           <input type="text" required name="markazapch" placeholder="выберите марку" readonly id="picker-dependentzapch">
                         </div>
                       </div>
                     </div>
                   </li>

                   <li class="zapchspeshide allhide">
                     <div class="item-content item-input">
                       <div class="item-inner">
                         <div class="item-input-wrap">
                           <input type="text" required name="markaspeszapch" placeholder="выберите марку" readonly id="picker-sdependentzapch">
                         </div>
                       </div>
                     </div>
                   </li>

                   <li class="zapchbuttons allhide">
                      <div class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-input-wrap">
                            <input type="text" required name="sostzapch" placeholder="состояние запчасти" readonly id="sostoyaniezapch">
                          </div>
                        </div>
                      </div>
                    </li>

                  <!-- prodazha zapchasti -->

                  <!-- prodazha shin -->

                  <li class="shinahide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-input-wrap">
                          <input type="text" required name="typeshina" placeholder="тип шины" readonly id="type-shina">
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="shinahide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-input-wrap">
                          <input type="text" required name="markashini" placeholder="марка шины" readonly id="picker-shina">
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="shinahide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-input-wrap">
                          <input type="text" required name="protectori" placeholder="протекторы" readonly id="picker-protektor">
                        </div>
                      </div>
                    </div>
                  </li>


                  <li class="shinahide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-input-wrap">
                          <input type="text" required name="yearshina" placeholder="год выпуска шин" readonly id="year-shina">
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="shinahide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-input-wrap">
                          <input type="text" required name="diamshini" placeholder="диаметр шины" readonly id="diam-shina">
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="shinahide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-input-wrap">
                          <input type="text" required name="iznosshina" placeholder="износ %" readonly id="picker-iznos">
                        </div>
                      </div>
                    </div>
                  </li>


                  <li class="shinahide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                      <div class="item-title item-label">количество штук</div>
                        <div class="item-input-wrap">
                          <input type="number" required name="kol_shin" placeholder="количество штук" >
                        </div>
                      </div>
                    </div>
                  </li>

                  <!-- prodazha shin -->

                  <li class="diskhide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-input-wrap">
                          <input type="text" required name="typedisk" placeholder="тип дисков" readonly id="type-diskd">
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="diskhide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-input-wrap">
                          <input type="text" required name="markadisk" placeholder="марка диска" readonly id="marka-disk">
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="diskhide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-input-wrap">
                          <input type="text" required name="typelitie" placeholder="тип диска" readonly id="picker-disk">
                        </div>
                      </div>
                    </div>
                  </li>


                  <li class="diskhide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-input-wrap">
                          <input type="text" required name="yeardisk" placeholder="год выпуска дисков" readonly id="year-disk">
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="diskhide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-input-wrap">
                          <input type="text" required name="diamdisk" placeholder="диаметр дисков" readonly id="diam-diska">
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="diskhide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-input-wrap">
                          <input type="text" required name="iznosdiska" placeholder="износ дисков %" readonly id="picker-iznosd">
                        </div>
                      </div>
                    </div>
                  </li>


                  <li class="diskhide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                      <div class="item-title item-label">количество штук</div>
                        <div class="item-input-wrap">
                          <input type="number" required name="kol_disk" placeholder="количество штук">
                        </div>
                      </div>
                    </div>
                  </li>

                  <!-- prodazha disk -->
                  <!-- prodazha disk -->

  <!-- rab -->
                  <!-- prodazha avto -->

                  <li class="avtohide allhide">
                     <div class="item-content item-input">
                       <div class="item-inner">
                         <div class="item-input-wrap">
                           <input type="text" required name="marka" placeholder="выберите марку" readonly id="picker-dependent">
                         </div>
                       </div>
                     </div>
                   </li>


                   <li class="avtohide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                      <div class="item-title item-label">год выпуска</div>
                        <div class="item-input-wrap">
                          <input type="number" required name="yearavto" placeholder="год выпуска" >
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="avtohide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                      <div class="item-title item-label">пробег/км</div>
                        <div class="item-input-wrap">
                          <input type="number" required name="probeg" placeholder="пробег/км" >
                        </div>
                      </div>
                    </div>
                  </li>


                  <li class="avtohide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                      <div class="item-title item-label">объем</div>
                        <div class="item-input-wrap">
                          <input type="text" required name="obem" placeholder="объем" class="obem">
                        </div>
                      </div>
                    </div>
                  </li>

                  <div class="block-title avtohide allhide">тип короби передач</div>



                   <li class="avtohide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="korobka" value="автомат"  >
                            <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">автомат</div>
                          </div>
                        </label>
                      </li>
                      <!-- Another radio input -->
                      <li class="avtohide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="korobka" value="механика">
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">маханика</div>
                          </div>
                        </label>
                      </li>
                      <li class="avtohide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="korobka" value="электро">
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">прямой привод без кпп(для электрокаров)</div>
                          </div>
                        </label>
                      </li>


                      <li class="avtohide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="rul" value="левый руль" >
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">левый руль</div>
                          </div>
                        </label>
                      </li>
                      <li class="avtohide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="rul" value="правый руль">
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">правый руль</div>
                          </div>
                        </label>
                      </li>

                      <div class="block-title avtohide allhide">тип топлива</div>


                      <li class="avtohide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="toplivo" value="бензин" >
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">бензин</div>
                          </div>
                        </label>
                      </li>
                      <li class="avtohide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="toplivo" value="дизель" >
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">дизель</div>
                          </div>
                        </label>
                      </li>
                      <li class="avtohide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="toplivo" value="газ-бензин">
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">газ-бензин</div>
                          </div>
                        </label>
                      </li>

                      <li class="avtohide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="toplivo" value="электричество">
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">электричество</div>
                          </div>
                        </label>
                      </li>
                      <li class="avtohide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="toplivo" value="гибрид">
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">гибрид</div>
                          </div>
                        </label>
                      </li>

                      <div class="block-title avtohide allhide">тип привода</div>


                      <li class="avtohide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="privod" value="передний" >
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">передний</div>
                          </div>
                        </label>
                      </li>

                      <li class="avtohide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="privod" value="4WD(полный привод)">
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">4WD(полный привод)</div>
                          </div>
                        </label>
                      </li>
                      <li class="avtohide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="privod" value="задний">
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">задний</div>
                          </div>
                        </label>
                      </li>

                      <li class="avtohide allhide">
                          <div class="item-content item-input">
                            <div class="item-inner">
                            <div class="item-title item-label">цвет</div>
                              <div class="item-input-wrap">
                                <input type="text" required name="svet" placeholder="цвет" readonly id="picker-type8">
                              </div>
                            </div>
                          </div>
                        </li>


                        <li class="avtohide allhide">
                          <div class="item-content item-input">
                            <div class="item-inner">
                            <div class="item-title item-label">состояние</div>
                              <div class="item-input-wrap">
                                <input type="text" required name="sostoyanie" placeholder="состояние" readonly id="picker-type9">
                              </div>
                            </div>
                          </div>
                        </li>


                        <div class="block-title avtohide allhide">дополнительные опции</div>




                      <li class="avtohide allhide">
                        <label class="item-checkbox item-content">
                          <!-- Checked by default -->
                          <input type="checkbox" name="obmen" value="обмен">
                          <i class="icon icon-checkbox"></i>
                          <div class="item-inner">
                            <div class="item-title">обмен</div>
                          </div>
                        </label>
                      </li>
                      <!-- Another chekbox item -->
                      <li class="avtohide allhide">
                        <label class="item-checkbox item-content">
                          <input type="checkbox" name="obmen2" value="битый или не на ходу">
                          <i class="icon icon-checkbox"></i>
                          <div class="item-inner">
                            <div class="item-title">битый или не на ходу</div>
                          </div>
                        </label>
                      </li>

                      <li class="avtohide allhide">
                        <label class="item-checkbox item-content">
                          <!-- Checked by default -->
                          <input type="checkbox" name="obmen3" value="продажа по запчастям">
                          <i class="icon icon-checkbox"></i>
                          <div class="item-inner">
                            <div class="item-title">продажа по запчастям</div>
                          </div>
                        </label>
                      </li>
                      <!-- Another chekbox item -->
                      <li class="avtohide allhide">
                        <label class="item-checkbox item-content">
                          <input type="checkbox" name="obmen4" value="требуются вложения">
                          <i class="icon icon-checkbox"></i>
                          <div class="item-inner">
                            <div class="item-title">требуются вложения</div>
                          </div>
                        </label>
                      </li>

                      <li class="avtohide allhide">
                        <label class="item-checkbox item-content">
                          <input type="checkbox" name="obmen5" value="эта машина на заказ">
                          <i class="icon icon-checkbox"></i>
                          <div class="item-inner">
                            <div class="item-title">эта машина на заказ</div>
                          </div>
                        </label>
                      </li>


                      <li class="avtohide allhide">
                        <label class="item-checkbox item-content">
                          <input type="checkbox" name="tuning" value="машина прошла тюнинг">
                          <i class="icon icon-checkbox"></i>
                          <div class="item-inner">
                            <div class="item-title">машина прошла тюнинг</div>
                          </div>
                        </label>
                      </li>






                  <!-- prodazha avto -->





                   <!-- prodazha spestehn -->

                  <li class="speshide allhide">
                     <div class="item-content item-input">
                       <div class="item-inner">
                         <div class="item-input-wrap">
                           <input type="text" required name="markaspes" placeholder="выберите марку" readonly id="picker-sdependent">
                         </div>
                       </div>
                     </div>
                   </li>

                   <li class="speshide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                      <div class="item-title item-label">модель</div>
                        <div class="item-input-wrap">
                          <input type="text" required name="modelspes" placeholder="введите модель">
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="speshide allhide">
                     <div class="item-content item-input">
                       <div class="item-inner">
                         <div class="item-input-wrap">
                           <input type="text" required name="typespes" placeholder="выберите тип техники" readonly id="typedependent">
                         </div>
                       </div>
                     </div>
                   </li>


                  <li class="speshide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                      <div class="item-title item-label">год выпуска</div>
                        <div class="item-input-wrap">
                          <input type="number" required name="yearspes" placeholder="год выпуска">
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="speshide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                      <div class="item-title item-label">пробег/км</div>
                        <div class="item-input-wrap">
                          <input type="number" required name="probegspes" placeholder="пробег/км">
                        </div>
                      </div>
                    </div>
                  </li>


                  <li class="speshide allhide">
                    <div class="item-content item-input">
                      <div class="item-inner">
                      <div class="item-title item-label">объем</div>
                        <div class="item-input-wrap">
                          <input type="text" required name="obemspes" placeholder="объем" class="obem">
                        </div>
                      </div>
                    </div>
                  </li>

                      <div class="block-title speshide allhide">тип короби передач</div>

                   <li class="speshide allhide">
                        <label class="item-radio item-content">
                          <!-- Checked by default -->
                          <input type="radio" name="korobkaspes" value="автомат" >
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">автомат</div>
                          </div>
                        </label>
                      </li>
                      <!-- Another radio input -->
                      <li class="speshide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="korobkaspes" value="механика">
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">маханика</div>
                          </div>
                        </label>
                      </li>
                      <li class="speshide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="korobkaspes" value="электро">
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">прямой привод без кпп(для электрокаров)</div>
                          </div>
                        </label>
                      </li>

                      <div class="block-title speshide allhide">тип руля</div>

                      <li class="speshide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="rulspes" value="левый руль" >
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">левый руль</div>
                          </div>
                        </label>
                      </li>
                      <li class="speshide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="rulspes" value="правый руль">
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">правый руль</div>
                          </div>
                        </label>
                      </li>

                      <div class="block-title speshide allhide">тип топлива</div>


                      <li class="speshide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="toplivospes" value="бензин" >
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">бензин</div>
                          </div>
                        </label>
                      </li>
                      <li class="speshide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="toplivospes" value="дизель" >
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">дизель</div>
                          </div>
                        </label>
                      </li>
                      <li class="speshide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="toplivospes" value="газ-бензин">
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">газ-бензин</div>
                          </div>
                        </label>
                      </li>

                      <li class="speshide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="toplivospes" value="электричество">
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">электричество</div>
                          </div>
                        </label>
                      </li>
                      <li class="speshide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="toplivospes" value="гибрид">
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">гибрид</div>
                          </div>
                        </label>
                      </li>

                      <div class="block-title speshide allhide">тип привода</div>


                      <li class="speshide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="privodspes" value="передний" >
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">передний</div>
                          </div>
                        </label>
                      </li>

                      <li class="speshide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="privodspes" value="4WD(полный привод)">
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">4WD(полный привод)</div>
                          </div>
                        </label>
                      </li>
                      <li class="speshide allhide">
                        <label class="item-radio item-content">
                          <input type="radio" name="privodspes" value="задний">
                          <i class="icon icon-radio"></i>
                          <div class="item-inner">
                            <div class="item-title">задний</div>
                          </div>
                        </label>
                      </li>

                      <li class="speshide allhide">
                          <div class="item-content item-input">
                            <div class="item-inner">
                            <div class="item-title item-label">цвет</div>
                              <div class="item-input-wrap">
                                <input type="text" required name="svetspes" placeholder="цвет" readonly id="picker-type8">
                              </div>
                            </div>
                          </div>
                        </li>


                        <li class="speshide allhide">
                          <div class="item-content item-input">
                            <div class="item-inner">
                            <div class="item-title item-label">состояние</div>
                              <div class="item-input-wrap">
                                <input type="text" required name="sostoyaniespes" placeholder="состояние" readonly id="picker-type9">
                              </div>
                            </div>
                          </div>
                        </li>

                        <div class="block-title speshide allhide">дополнительные опции</div>




                      <li class="speshide allhide">
                        <label class="item-checkbox item-content">
                          <!-- Checked by default -->
                          <input type="checkbox" name="obmenspes" value="обмен">
                          <i class="icon icon-checkbox"></i>
                          <div class="item-inner">
                            <div class="item-title">обмен</div>
                          </div>
                        </label>
                      </li>
                      <!-- Another chekbox item -->
                      <li class="speshide allhide">
                        <label class="item-checkbox item-content">
                          <input type="checkbox" name="obmen2spes" value="битый или не на ходу">
                          <i class="icon icon-checkbox"></i>
                          <div class="item-inner">
                            <div class="item-title">битый или не на ходу</div>
                          </div>
                        </label>
                      </li>

                      <li class="speshide allhide">
                        <label class="item-checkbox item-content">
                          <!-- Checked by default -->
                          <input type="checkbox" name="obmen3spes" value="продажа по запчастям">
                          <i class="icon icon-checkbox"></i>
                          <div class="item-inner">
                            <div class="item-title">продажа по запчастям</div>
                          </div>
                        </label>
                      </li>
                      <!-- Another chekbox item -->
                      <li class="speshide allhide">
                        <label class="item-checkbox item-content">
                          <input type="checkbox" name="obmen4spes" value="требуются вложения">
                          <i class="icon icon-checkbox"></i>
                          <div class="item-inner">
                            <div class="item-title">требуются вложения</div>
                          </div>
                        </label>
                      </li>

                      <li class="speshide allhide">
                        <label class="item-checkbox item-content">
                          <input type="checkbox" name="obmen5spes" value="эта машина на заказ">
                          <i class="icon icon-checkbox"></i>
                          <div class="item-inner">
                            <div class="item-title">эта техника на заказ</div>
                          </div>
                        </label>
                      </li>






                  <!-- prodazha spestehn -->



                  <!-- rab -->



                  <li class="align-top">
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-title item-label">описание</div>
                        <div class="item-input-wrap">
                            <textarea name="opisanie" required ng-model="user.description"></textarea>
                        </div>
                      </div>
                    </div>
                  </li>

                   <li>
                     <div class="item-content item-input">
                       <div class="item-inner">
                         <div class="item-input-wrap">
                           <input type="text" class="choosemap" required name="city" placeholder="выберите регион"  required >
                           <!-- <input type="text" required name="city" placeholder="выберите регион"  required ng-model="user.city" readonly id="regionpicker"> -->
                         </div>
                       </div>
                     </div>
                   </li>

                  <li>
                    <div class="item-content item-input">
                      <div class="item-inner">
                      <div class="item-title item-label">телефон</div>
                        <div class="item-input-wrap">
                          <input  ng-model="user.phone" required name="telephone" class="myphone" type="text" placeholder="телефон">
                        </div>
                      </div>
                    </div>
                  </li>


                  <li>
                      <div class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-input-wrap">
                            <input type="text" required name="chastn_liso"  ng-model="user.contact" placeholder="кем вы являетесь" readonly id="yourcontact">
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                    <div class="item-content item-input">
                      <div class="item-inner">
                      <div class="item-title item-label">имя или название</div>
                        <div class="item-input-wrap">
                          <input  required name="naimenovanie"  type="text" placeholder="имя или название">
                        </div>
                      </div>
                    </div>
                  </li>


                    <li>
                      <div class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-input-wrap">
                            <input type="text" required name="commentarii" ng-model="user.comment" placeholder="разрешить комментарии" readonly id="yourcomment">
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                        <div class="item-content item-input">
                          <div class="item-media"><i class="icon f7-icons">cloud_download</i></div>
                          <div class="item-inner">
                            <div class="item-input-wrap">
                              <a href="#" data-popup=".popup-download" class="popup-open button button-fill">загрузка фото или видео</a>
                            </div>
                          </div>
                        </div>
                      </li>


                      <li>
                        <div class="item-content item-input">
                          <div class="item-inner">
                          <!-- <div class="item-title item-label">телефон</div> -->
                            <div class="item-input-wrap">

                              <!-- <button ng-disabled="addform.$invalid" class="sendob col button button-big button-outline">опубликовать</button> -->
                              <button ng-disabled="addform.$invalid" class="tarif col button button-big button-outline">продолжить</button>

                              <button ng-disabled="addform.$invalid" style="display:none;" class="limit col button button-big button-outline">Превышен лимит дневного использования</button>

                            </div>
                          </div>
                        </div>
                      </li>


              </ul>







            </form>

          <!-- <button  class="tariftest col button button-big button-outline">продолжить</button> -->
            <!-- <button  class="opencashform col button button-big button-outline">popup</button> -->











      </div>

  </div>

</div>
