<div class="views">

  <div class="page" data-name="login">



      <div class="navbar">
          <div class="navbar-inner sliding">
            <div class="left">
              <a class="link back">
                <i class="f7-icons">reply</i>
                <span class="ios-only">назад</span>
              </a>
            </div>
            <div class="title"></div>
          </div>
        </div>


    <div class="page-content login-screen-content">


      <div class="gifloader_login" style="display:none;">

                <div class='container'>
                    <div class='loader-2'>
                      <div class='loader--dot'></div>
                      <div class='loader--dot'></div>
                      <div class='loader--dot'></div>
                      <div class='loader--dot'></div>
                      <div class='loader--dot'></div>
                      <div class='loader--dot'></div>
                      <div class='loader--text'></div>
                    </div>
                  </div>

             </div>

      <span class="progressbar-infinite color-multi" style="display: none;"></span>


            <div style="text-align:center;font-size:18px;padding:10px;">Вход</div>

                 <form id="form-login" class="list store-data">

                     <ul>


                       <li class="item-content item-input">
                         <div class="item-inner">
                           <div class="item-title item-label">Телефон</div>
                           <div class="item-input-wrap">
                             <input type="text" required name="phone" placeholder="Ваш телефон">
                           </div>
                         </div>
                       </li>


                       <li class="item-content item-input">
                         <div class="item-inner">
                           <div class="item-title item-label">Пароль</div>
                           <div class="item-input-wrap">
                             <input type="password" required name="password" placeholder="Ваш пароль">
                           </div>
                         </div>
                       </li>
                     </ul>


                 </form>

                 <div class="content-block">
                       <a href="#" class="button button-raised form-to-login">войти</a>
                 </div>

                 <div class="row">
                     <div class="col-100">

                       <p style="text-align: center;"><a  class="registr close-login-screen">регистрация </a><a href="#" class="close-login-screen restorepass">| восстановление забытого пароля</a></p>

                     </div>

                     <div class="col-100">

                          <button  class="button customBtn loggoogle  color-red">Login with Google</button>
                          <!--  -->

                     </div>

                     <!-- <div class="col-100">

                       <fb:login-button
                         scope="public_profile,email"
                         onlogin="checkLoginState();">
                       </fb:login-button>

                     </div>
-->

                 </div>


    </div>
  </div>

</div>
