
  <div class="page" data-name="n1">

    <div class="navbar">
        <div class="navbar-inner sliding">
          <div class="left">
            <a class="link backevent">
              <i class="f7-icons">reply</i>
              <span class="ios-only">Back</span>
            </a>
          </div>
          <div class="title " style="color:black;"></div>
        </div>
      </div>



      <div class="fab fab-right-bottom">
           <a id="phoneattr" class="external" href="#">
             <i class="material-icons">
                    phone
              </i>
           </a>
         </div>


    <div class="page-content obstyle hide-navbar-on-scroll">

                <div class="tabs">


                      <div id="tab-11" class="tab tab-active" style="display: block;">


                        <div class="upBlock">

                            <div class="onea">
                              <div class="circle-img">

                              </div>

                            </div>

                            <div class="oneb">

                              <div class="inserth1">

                              </div>

                            </div>

                            <div class="onec">

                              <div class="icona">
                                <i class="material-icons follow f1" style="font-size: 35px;color:#2196f3;">
                                  add
                                </i>

                                <i class="material-icons follow f2" style="font-size: 35px;color:#2196f3;display:none;">
                                  check_circle
                                </i>

                              </div>

                            </div>

                        </div>

                          <!-- <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="10" data-slides-per-view="auto" data-centered-slides="true" class="swiper-container swiper-init demo-swiper demo-swiper-auto">
                              <div class="swiper-pagination"></div>
                              <div class="swiper-wrapper insertimg">

                              </div>
                            </div> -->

                            <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="20" data-slides-per-view="2" class="swiper-container swiper-init demo-swiper">
                                      <div class="swiper-pagination"></div>
                                      <div class="swiper-wrapper insertimg">

                                      </div>
                                    </div>

                          <div id="showN1"></div>





                     <div class="insertvideo">



                     </div>

                     <div class="downBlock">

                       <div class="childA">
                         <i class="mysizeicons favorite material-icons fw1" style="color:#f44b42;">
                           favorite_border
                           </i>

                           <i class="mysizeicons favorite material-icons fw2"  style="color:#f44b42;display:none;">
                             favorite
                           </i>

                       </div>
                       <div class="childB">
                         <i class="mysizeicons material-icons comment" >
                           add_comment
                         </i>

                       </div>
                       <div class="childC">
                         <i class="mysizeicons material-icons" >
                           share
                         </i>
                       </div>
                       <div class="childD">
                         <i class="mysizeicons material-icons navigateTomessage" >
                           chat_bubble_outline
                         </i>
                       </div>

                     </div>




                                 <div class="data-table card" >


                                   <table >

                                     <tbody class="insertobvn">

                                     </tbody>

                                   </table>


                                 </div>


                      <div id="userAds" style="margin-bottom:70px;"></div>


                  </div>


                  <div id="tab-22" class="tab">

                    <div class="block block-strong text-align-center">

                            <div class="gauge ob-gauge "></div>

                      </div>




                  </div>

                </div>












    </div>

        <div class="toolbar tabbar toolbar-bottom-md color-theme-black ">
          <div class="toolbar-inner">
            <a href="#tab-11" class="tab-link tab-link-active changetabsn">основная</a>
            <a href="#tab-22" class="tab-link changetabsn">статистика</a>
          </div>
        </div>
  </div>
