body {
        /* background: #074d55;
        background: -moz-radial-gradient(center, ellipse cover, #a7cfdf 0%, #23538a 100%); FF3.6+
        background: -webkit-gradient(radial, right bottom, 0px, left top, 100%, color-stop(0%,#6967a5), color-stop(50%,#2075a1), color-stop(100%,#074d55));
        background: -webkit-radial-gradient(right bottom, ellipse cover, #6967a5 0%, #2075a1 50%, #074d55 100%);
        background: radial-gradient(ellipse at right bottom, #6967a5 0%, #2075a1 50%, #1FDFF5 100%); */

/*background: #000428;   fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #004e92, #000428);   Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #004e92, #000428);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;

     -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */


    color:black;


      }

      input, textarea  {
          -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
      }

      html {
          -ms-touch-action: pan-x ;
      }

      .panel .page, .panel .pages, .panel {
       /* background: none;*/
       background: white;
      }
      .panel .list-block ul {
      /*  background: none;
        border:none;*/
      }
      .panel .list-block .item-link {
        /*color:#fff;*/
      }
      .panel .list-block .item-link:active {
        /*background: rgba(255,255,255,0.2);*/
      }
      .panel .list-block .item-inner {
       /* border-bottom-color:rgba(255,255,255,0.2);*/
      }
      .panel .content-block, .panel .content-block-title {
        /*color:#fff;*/
        color:black;
      }

      /* following two viewport lines are equivalent to meta viewport statement above, and is needed for Windows */
        /* see http://www.quirksmode.org/blog/archives/2014/05/html5_dev_conf.html and http://dev.w3.org/csswg/css-device-adapt/ */
/*         @-ms-viewport { width: 100vw ; min-zoom: 100% ; zoom: 100% ; }          @viewport { width: 100vw ; min-zoom: 100% zoom: 100% ; }
@-ms-viewport { user-zoom: fixed ; min-zoom: 100% ; }                   @viewport { user-zoom: fixed ; min-zoom: 100% ; } */
        /*@-ms-viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }   @viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }*/





.kazpoiskcl{
  text-align: center;padding: 0px;margin:0px;
}

.threeviewText{
  position:relative;
  left:0px;
  top:-50px;
  background:rgba(0, 0, 0, 0.73);
  color:rgba(255, 255, 255, 0.85);
  padding-left:2px;
  padding-right:2px;
  height:44px;
  font-size:14px;
  overflow: hidden;
  text-overflow: ellipsis;
  width:100%;
}

@media only screen and (max-width : 2560px) and (max-height:1440px){


  .kazpoiskcll{

    margin-top:2%;

    width:15%;

  }

  .threeview{
    image-rendering: optimizeSpeed;
    background-position: center center;
    background-size: cover;
    height: 28vh;
    width:33.3%;
  }


  .myhidescrolledThree li {
      margin-right: 3.5%;
      /* width: 82%;
      height: 30vh; */
      width: 34%;
      height: 33vh;
      display: inline-block;
      transition: width 1s height 1s;
      overflow: hidden;
      /* margin-bottom:0vh; */
      margin-bottom:-1.4vh;
      /* border-radius:0px; */
      border-radius:5px;
      /* background-color: #f442ce; */
  }


  .myhidescrolledThreeN li {
      margin-right: 3.5%;
      width: 36%;
      height: 33vh;
      display: inline-block;
      transition: width 1s height 1s;
      overflow: hidden;
      margin-bottom: -1.4vh;
      border-radius: 5px;
      /* background-color: #f442ce; */
  }

  .demo-swiper {
    margin: 0px;
    font-size: 18px;
    height: 50vh;
  }

  .upBlock{
    width: 100%;
    height: 13vh;
    margin-top: 1%;
  }

  .myhidescrolled li {
      margin-right: 3.5%;
      width: 22%;
      height: 33vh;
      display: inline-block;
  }


  .insertvideo{
    width:60%;
    margin-left:20%;
  }

  .circle-img{
    background: aqua;
    width: 37%;
    height: 75%;
    border-radius: 50px;
    margin-top: 10%;
    margin-left: 23%;
    background: url(https://www.daily-sun.com/assets/news_images/2017/08/14/thumbnails/Daily-Sun-38-01-14-08-2017.jpg) no-repeat center/cover;
  }

  .main_list{
      width: 96%;
      height: 22.5vh;
      margin-top:2%;
      margin-bottom:0.5%;
      margin-left: 2%;
      margin-right: 2%;
      border-radius: 5px;
      background-color: white;
      -webkit-box-shadow: 0px 0px 11px 0px rgba(217,217,217,1);
      -moz-box-shadow: 0px 0px 11px 0px rgba(217,217,217,1);
      box-shadow: 0px 0px 11px 0px rgba(217,217,217,1);
  }


}


@media only screen and (max-width : 800px) and (max-height:1440px){

  .myhidescrolled li {
      margin-right: 3.5%;
      width: 28%;
      height: 33vh;
      display: inline-block;
  }

  .insertvideo{
    width:80%;
    margin-left:10%;
  }

  ::-webkit-scrollbar {
      display: none;
  }

  .circle-img{
    background: aqua;
    width: 58%;
    height: 75%;
    border-radius: 50px;
    margin-top: 10%;
    margin-left: 23%;
    background: url(https://www.daily-sun.com/assets/news_images/2017/08/14/thumbnails/Daily-Sun-38-01-14-08-2017.jpg) no-repeat center/cover;
  }

  .main_list{
      width: 96%;
      height: 13.5vh;
      margin-top:2%;
      margin-bottom:0.5%;
      margin-left: 2%;
      margin-right: 2%;
      border-radius: 5px;
      background-color: white;
      -webkit-box-shadow: 0px 0px 11px 0px rgba(217,217,217,1);
      -moz-box-shadow: 0px 0px 11px 0px rgba(217,217,217,1);
      box-shadow: 0px 0px 11px 0px rgba(217,217,217,1);
  }

}

@media only screen and (max-width : 480px) and (max-height:855px){


  .kazpoiskcll{

    margin-top:4%;

    width:30%;

  }

  .threeview{
    image-rendering: optimizeSpeed;
    background-position: center center;
    background-size: cover;
    height: 15vh;
    width:33.3%;
  }

  .myhidescrolledThree li {
      margin-right: 3.5%;
      /* width: 82%;
      height: 30vh; */
      width: 84%;
      height: 33vh;
      display: inline-block;
      transition: width 1s height 1s;
      overflow: hidden;
      /* margin-bottom:0vh; */
      margin-bottom:-1.4vh;
      /* border-radius:0px; */
      border-radius:5px;
      /* background-color: #f442ce; */
  }


  .myhidescrolledThreeN li {
      margin-right: 3.5%;
      width: 89%;
      height: 33vh;
      display: inline-block;
      transition: width 1s height 1s;
      overflow: hidden;
      margin-bottom: -1.4vh;
      border-radius: 5px;
      /* background-color: #f442ce; */
  }


  .demo-swiper {
    margin: 0px;
    font-size: 18px;
    height: 35vh;
  }

  .upBlock{
    width: 100%;
    height: 9vh;
    margin-top: 1%;
  }

  .myhidescrolled li {
      margin-right: 3.5%;
      width: 34%;
      height: 33vh;
      display: inline-block;
  }

  .insertvideo{
    width:80%;
    margin-left:10%;
  }

  ::-webkit-scrollbar {
      display: none;
  }


  .circle-img{
    background: aqua;
    width: 63%;
    height: 75%;
    border-radius: 50px;
    margin-top: 10%;
    margin-left: 23%;
    background: url(https://www.daily-sun.com/assets/news_images/2017/08/14/thumbnails/Daily-Sun-38-01-14-08-2017.jpg) no-repeat center/cover;
  }


}




.searchrest{
	display:none;
}

.swiper-slide {
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin: 20px;
  font-size:21px;
}

.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
}
.demo-swiper .swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
}

.demo-swiper.demo-swiper-auto .swiper-slide {
  width: 85%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}





.facebook-card .card-header {
    display: block;
    padding: 10px;
  }
  .facebook-card .facebook-avatar {
    float: left;
  }
  .facebook-card .facebook-name {
    margin-left: 44px;
    font-size: 14px;
    font-weight: 500;
  }
  .facebook-card .facebook-date {
    margin-left: 44px;
    font-size: 13px;
    color: #8e8e93;
  }
  .facebook-card .card-footer {
    background: #fafafa;
  }
  .facebook-card .card-footer a {
    color: #81848b;
    font-weight: 500;
  }
  .facebook-card .card-content img {
    display: block;
  }
  .facebook-card .card-content-inner {
    padding: 15px 10px;
  }




  .demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
  }



/* preloader */



.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

    .loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    .loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }









/*blok nedvizhimosti*/

.nedvhide{
    display:none;
}

.domhide{
    display:none;
}

.dachahide{
    display:none;
}

.uchastokhide{
    display:none;
}

.ofishide{
    display:none;
}

.pomeshhide{
    display:none;
}

.zdaniehide{
    display:none;
}

.maghide{
    display:none;
}

.avtohide{
    display:none;
}


.allhide{
    display:none;
}
/*blok nedvizhimosti*/



/*blok search model*/


.hideformsearch{
  display:none;
}









/*blok search model*/


.theme-blue .item-link.list-button, .theme-blue .list-button, .theme-blue a{
  color:#007aff;
}

.kazpoiskname{
  /*background: #0047b3;*/
  background-color: white;
  color: black;

}





.progressbar{
  display:none;
}

ul.insertob::before{
  color:red;
}



.loader-hide{
  display:none;
}






/* loader */


.cssload-tetrominos {
  position: absolute;
  left: 50%;
  transform: translate(-109px, -94px);
    -o-transform: translate(-109px, -94px);
    -ms-transform: translate(-109px, -94px);
    -webkit-transform: translate(-109px, -94px);
    -moz-transform: translate(-109px, -94px);
}

.cssload-tetromino {
  width: 94px;
  height: 109px;
  position: absolute;
  transition: all ease 0.35s;
    -o-transition: all ease 0.35s;
    -ms-transition: all ease 0.35s;
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
  background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
}

.cssload-box1 {
  animation: cssload-tetromino1 1.73s ease-out infinite;
    -o-animation: cssload-tetromino1 1.73s ease-out infinite;
    -ms-animation: cssload-tetromino1 1.73s ease-out infinite;
    -webkit-animation: cssload-tetromino1 1.73s ease-out infinite;
    -moz-animation: cssload-tetromino1 1.73s ease-out infinite;
}

.cssload-box2 {
  animation: cssload-tetromino2 1.73s ease-out infinite;
    -o-animation: cssload-tetromino2 1.73s ease-out infinite;
    -ms-animation: cssload-tetromino2 1.73s ease-out infinite;
    -webkit-animation: cssload-tetromino2 1.73s ease-out infinite;
    -moz-animation: cssload-tetromino2 1.73s ease-out infinite;
}

.cssload-box3 {
  animation: cssload-tetromino3 1.73s ease-out infinite;
    -o-animation: cssload-tetromino3 1.73s ease-out infinite;
    -ms-animation: cssload-tetromino3 1.73s ease-out infinite;
    -webkit-animation: cssload-tetromino3 1.73s ease-out infinite;
    -moz-animation: cssload-tetromino3 1.73s ease-out infinite;
  z-index: 2;
}

.cssload-box4 {
  animation: cssload-tetromino4 1.73s ease-out infinite;
    -o-animation: cssload-tetromino4 1.73s ease-out infinite;
    -ms-animation: cssload-tetromino4 1.73s ease-out infinite;
    -webkit-animation: cssload-tetromino4 1.73s ease-out infinite;
    -moz-animation: cssload-tetromino4 1.73s ease-out infinite;
}







.cssload-tetrominos {
  position: absolute;
  left: 50%;
  transform: translate(-78px, -67px);
    -o-transform: translate(-78px, -67px);
    -ms-transform: translate(-78px, -67px);
    -webkit-transform: translate(-78px, -67px);
    -moz-transform: translate(-78px, -67px);
}

.cssload-tetromino {
  width: 67px;
  height: 78px;
  position: absolute;
  transition: all ease 0.35s;
    -o-transition: all ease 0.35s;
    -ms-transition: all ease 0.35s;
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
  background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
}

.cssload-box1 {
  animation: cssload-tetromino1 1.73s ease-out infinite;
    -o-animation: cssload-tetromino1 1.73s ease-out infinite;
    -ms-animation: cssload-tetromino1 1.73s ease-out infinite;
    -webkit-animation: cssload-tetromino1 1.73s ease-out infinite;
    -moz-animation: cssload-tetromino1 1.73s ease-out infinite;
}

.cssload-box2 {
  animation: cssload-tetromino2 1.73s ease-out infinite;
    -o-animation: cssload-tetromino2 1.73s ease-out infinite;
    -ms-animation: cssload-tetromino2 1.73s ease-out infinite;
    -webkit-animation: cssload-tetromino2 1.73s ease-out infinite;
    -moz-animation: cssload-tetromino2 1.73s ease-out infinite;
}

.cssload-box3 {
  animation: cssload-tetromino3 1.73s ease-out infinite;
    -o-animation: cssload-tetromino3 1.73s ease-out infinite;
    -ms-animation: cssload-tetromino3 1.73s ease-out infinite;
    -webkit-animation: cssload-tetromino3 1.73s ease-out infinite;
    -moz-animation: cssload-tetromino3 1.73s ease-out infinite;
  z-index: 2;
}

.cssload-box4 {
  animation: cssload-tetromino4 1.73s ease-out infinite;
    -o-animation: cssload-tetromino4 1.73s ease-out infinite;
    -ms-animation: cssload-tetromino4 1.73s ease-out infinite;
    -webkit-animation: cssload-tetromino4 1.73s ease-out infinite;
    -moz-animation: cssload-tetromino4 1.73s ease-out infinite;
}









@keyframes cssload-tetromino1 {
  0%, 40% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(34px, -19px);
  }
  60%, 100% {
    transform: translate(67px, 0);
  }
}

@-o-keyframes cssload-tetromino1 {
  0%, 40% {
    -o-transform: translate(0, 0);
  }
  50% {
    -o-transform: translate(34px, -19px);
  }
  60%, 100% {
    -o-transform: translate(67px, 0);
  }
}

@-ms-keyframes cssload-tetromino1 {
  0%, 40% {
    -ms-transform: translate(0, 0);
  }
  50% {
    -ms-transform: translate(34px, -19px);
  }
  60%, 100% {
    -ms-transform: translate(67px, 0);
  }
}

@-webkit-keyframes cssload-tetromino1 {
  0%, 40% {
    -webkit-transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(34px, -19px);
  }
  60%, 100% {
    -webkit-transform: translate(67px, 0);
  }
}

@-moz-keyframes cssload-tetromino1 {
  0%, 40% {
    -moz-transform: translate(0, 0);
  }
  50% {
    -moz-transform: translate(34px, -19px);
  }
  60%, 100% {
    -moz-transform: translate(67px, 0);
  }
}

@keyframes cssload-tetromino2 {
  0%, 20% {
    transform: translate(67px, 0px);
  }
  40%, 100% {
    transform: translate(101px, 19px);
  }
}

@-o-keyframes cssload-tetromino2 {
  0%, 20% {
    -o-transform: translate(67px, 0px);
  }
  40%, 100% {
    -o-transform: translate(101px, 19px);
  }
}

@-ms-keyframes cssload-tetromino2 {
  0%, 20% {
    -ms-transform: translate(67px, 0px);
  }
  40%, 100% {
    -ms-transform: translate(101px, 19px);
  }
}

@-webkit-keyframes cssload-tetromino2 {
  0%, 20% {
    -webkit-transform: translate(67px, 0px);
  }
  40%, 100% {
    -webkit-transform: translate(101px, 19px);
  }
}

@-moz-keyframes cssload-tetromino2 {
  0%, 20% {
    -moz-transform: translate(67px, 0px);
  }
  40%, 100% {
    -moz-transform: translate(101px, 19px);
  }
}

@keyframes cssload-tetromino3 {
  0% {
    transform: translate(101px, 19px);
  }
  20%, 60% {
    transform: translate(67px, 38px);
  }
  90%, 100% {
    transform: translate(34px, 19px);
  }
}

@-o-keyframes cssload-tetromino3 {
  0% {
    -o-transform: translate(101px, 19px);
  }
  20%, 60% {
    -o-transform: translate(67px, 38px);
  }
  90%, 100% {
    -o-transform: translate(34px, 19px);
  }
}

@-ms-keyframes cssload-tetromino3 {
  0% {
    -ms-transform: translate(101px, 19px);
  }
  20%, 60% {
    -ms-transform: translate(67px, 38px);
  }
  90%, 100% {
    -ms-transform: translate(34px, 19px);
  }
}

@-webkit-keyframes cssload-tetromino3 {
  0% {
    -webkit-transform: translate(101px, 19px);
  }
  20%, 60% {
    -webkit-transform: translate(67px, 38px);
  }
  90%, 100% {
    -webkit-transform: translate(34px, 19px);
  }
}

@-moz-keyframes cssload-tetromino3 {
  0% {
    -moz-transform: translate(101px, 19px);
  }
  20%, 60% {
    -moz-transform: translate(67px, 38px);
  }
  90%, 100% {
    -moz-transform: translate(34px, 19px);
  }
}

@keyframes cssload-tetromino4 {
  0%, 60% {
    transform: translate(34px, 19px);
  }
  90%, 100% {
    transform: translate(0, 0);
  }
}

@-o-keyframes cssload-tetromino4 {
  0%, 60% {
    -o-transform: translate(34px, 19px);
  }
  90%, 100% {
    -o-transform: translate(0, 0);
  }
}

@-ms-keyframes cssload-tetromino4 {
  0%, 60% {
    -ms-transform: translate(34px, 19px);
  }
  90%, 100% {
    -ms-transform: translate(0, 0);
  }
}

@-webkit-keyframes cssload-tetromino4 {
  0%, 60% {
    -webkit-transform: translate(34px, 19px);
  }
  90%, 100% {
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes cssload-tetromino4 {
  0%, 60% {
    -moz-transform: translate(34px, 19px);
  }
  90%, 100% {
    -moz-transform: translate(0, 0);
  }
}
/* loader */


.gifloader{
  position: fixed;
  left:47%;
  top:50%;
  display: none;
}


/* @media only screen and (max-width : 1000px) and (max-height:1200px){



}



@media only screen and (max-width : 400px) and (max-height:800px){



} */

@media only screen and (max-height:1200px){

  .imgheight_div{
    max-width: 70%;
    width:70%;height:52%;margin-left:15%;margin-top:15%;
    border-radius: 5px;
    background: rgba(0,0,0,.2);
  }

  .opensearch{
    width:10%;height:4%;position:fixed;left:2%;top:10%;z-index:50 !important;
  }

  .searchbutton{
    width:84%;height:6%;position:fixed;left:13%;top:10%;z-index:50 !important;display:none;
  }

}


@media only screen and (max-height:800px){

  .imgheight_div{
    max-width: 70%;
    width:70%;height:52%;margin-left:15%;margin-top:15%;
    border-radius: 5px;
    background: rgba(0,0,0,.2);
  }

  .opensearch{
    width:10%;height:4%;position:fixed;left:2%;top:11%;z-index:50 !important;
  }

  .searchbutton{
    width:84%;height:6%;position:fixed;left:13%;top:11%;z-index:50 !important;display:none;
  }

}


@media only screen and (max-height:650px){

  .imgheight_div{
    max-width:70%;
    width:70%;height:63%;margin-left:15%;margin-top:9%;
    border-radius: 5px;
    background: rgba(0,0,0,.2);
  }

  .opensearch{
    width:10%;height:4%;position:fixed;left:2%;top:12%;z-index:50 !important;
  }

  .searchbutton{
    width:84%;height:6%;position:fixed;left:13%;top:12%;z-index:50 !important;display:none;
  }

}

@media only screen and (max-height:570px){

  .imgheight_div{
    max-width:70%;
    width:70%;height:63%;margin-left:15%;margin-top:9%;
    border-radius: 5px;
    background: rgba(0,0,0,.2);
  }

  .opensearch{
    width:10%;height:4%;position:fixed;left:2%;top:13%;z-index:50 !important;
  }

  .searchbutton{
    width:84%;height:6%;position:fixed;left:13%;top:13%;z-index:50 !important;display:none;
  }

}


@media only screen and (max-height:530px){

  .imgheight_div{
    max-width: 70%;
    width:70%;height:75%;margin-left:15%;margin-top:9%;
    border-radius: 5px;
    background: rgba(0,0,0,.2);
  }

  .opensearch{
    width:10%;height:4%;position:fixed;left:2%;top:13%;z-index:50 !important;
  }

  .searchbutton{
    width:84%;height:6%;position:fixed;left:13%;top:13%;z-index:50 !important;display:none;
  }

}













.exmachange{

    transition: background-color 3s cubic-bezier(0.1, 0.8, 0.5, 2), color 2s 1s linear;

}




.li_img_styling{
  height:40%;padding:12px;padding-bottom:0px;
}

.imgheight{
  width: 100%;
  height: 100%;

  border: 0.0157px solid white;
  border-radius:5px;
}



.imgheight_title{
  color:#fff;padding: 0px;margin:0px;text-align: center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size:24px;font-weight: bold;font-size: 1.5em;
}

.imgheight_text{
  color:#fff;margin:0px;margin-left:10px;margin-right:10px;padding: 0px;text-align: center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size:18px;font-size: 1.0em;
}

.navbar-inner{
  /* background-color: white; */
}


.card{
  /* background: rgba(0,0,0,.2); */
  background-color: white;
  color:black;
  border-radius: 10px;
}

.whitecolor{
  background-color: white;
}



.onea{
  width: 20%;
  height: 100%;
  float: left;

}

.insertvideo{
  z-index: 200;
}



.oneb{
  width: 68%;
  height: 100%;
  float: left;

}

.inserth1{

  /* background-image: linear-gradient(to right, #29323c , #485563); */
  color: black;
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 7%;
  font-size: 1em;
  font-weight: 600;
  opacity: 0.7;

}

.onec{
  width: 12%;
  height: 100%;
  float: left;

}

.icona{
  width: 100%;
  height: 100%;
  margin-left: 6%;
  margin-top: 23%;
}


.downBlock{
  width:100%;
  height: 5.6vh;
  margin-top:1%;

}

.mysizeicons{
  font-size: 30px !important;
}

.discriptionName{
  width: 100%;
  margin-top:2px;
  margin-bottom: 2px;
}


.childA{
  float:left;
  width:10%;
  height: 100%;
  margin-left: 29%;
}
.childB{
  float:left;
  width:10%;
  height: 100%;
  margin-left: 1%;
}
.childC{
  float:left;
  width:10%;
  height: 100%;
  margin-left: 1%;
}
.childD{
  float:left;
  width:10%;
  height: 100%;
  margin-left: 1%;
}




.imageheight{

          width: 100%;
          height: 100%;

  }

  .inserttr{
    /* -webkit-box-shadow: 0px 1px 14px 2px rgba(0,0,0,0.7); */
  }


.obstyle{

  background-color: white;

}


.minw{
  min-width:10px !important;
}

.left-right-padding{
  padding-left:0px !important;
  padding-right:0px !important;
}

/* .navbar{
  display: none;
  height: 0px;
} */


.top_input::-webkit-input-placeholder {
  color: white;
}

.item-input-wrap > input::-webkit-input-placeholder {
  color: #546970 !important;
}

.item-input > input::-webkit-input-placeholder {
  color: #546970 !important;
}

.paddinglong{
  padding-bottom:350px;
}

.popup-filter{
  background-color: rgba(252, 252, 252, 1);
}

.mnavbarstyle{
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.navbar{
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.mtoolbarstyle{
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.mblackicons{
  color:black !important;
}

.f7-icons{
  color:black !important;
}

.modified-toolbar{
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-color: black !important;
}

.toolbar-inner{

}



/* new preloader */

.container {
  height: 100vh;
  width: 100vw;
  font-family: Helvetica;
  position: fixed;
  top:0%;
  left:0%;

}

.loader-2 {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}
.loader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s;
}
.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}
.loader--text:after {
  content: "Loading";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Секунду";
  }
  25% {
    content: "Секунду.";
  }
  50% {
    content: "Секунду..";
  }
  75% {
    content: "Секунду...";
  }
}


/* new preloader */



/* color icons */

.green_icon{
  color:#50d8a3;
}
.red_icon{
  color:#f05f5c;
}

.gold_button{
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
            border:2px solid #f9d423 !important;
            color:white !important;
}

.premium_button{
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
            border:2px solid #ffb199 !important;
            color:white !important;
}

.classic_button{
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
            border:2px solid #66a6ff !important;
            color:white !important;
}


.Quick_button{
background-image: linear-gradient(-225deg, #7742B2 0%, #F180FF 52%, #FD8BD9 100%);
            border:2px solid #F180FF !important;
            color:white !important;
}
.Easy_button{
background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
            border:2px solid #90F9C4 !important;
            color:white !important;
}



/* color icons */





/*https://icons8.com/cssload/en/3d-loaders*/

/* searchbar */

:root {
  /*
  --f7-searchbar-link-color: var(--f7-bars-link-color);
  */
  --f7-searchbar-input-border-width: 0px;
  --f7-searchbar-input-border-color: transparent;
  --f7-searchbar-input-text-color: #000;
  --f7-searchbar-placeholder-color: #939398;
}
:root .theme-dark,
:root.theme-dark {
  --f7-searchbar-input-text-color: #fff;
}
.ios {
  /*
  --f7-searchbar-bg-image: var(--f7-bars-bg-image);
  --f7-searchbar-bg-color: var(--f7-bars-bg-color);
  --f7-searchbar-border-color: var(--f7-bars-border-color);
  */
  --f7-searchbar-height: 44px;
  --f7-searchbar-inner-padding-left: 8px;
  --f7-searchbar-inner-padding-right: 8px;
  /*
  --f7-searchbar-link-color: var(--f7-bars-link-color, var(--f7-theme-color));
  */
  --f7-searchbar-search-icon-color: #939398;
  --f7-searchbar-input-font-size: 17px;
  --f7-searchbar-input-bg-color: #e8e8ea;
  --f7-searchbar-input-border-radius: 8px;
  --f7-searchbar-input-height: 32px;
  --f7-searchbar-input-padding-horizontal: 28px;
  /*
  --f7-searchbar-inline-input-font-size: var(--f7-searchbar-input-font-size);
  --f7-searchbar-inline-input-height: var(--f7-searchbar-input-height);
  --f7-searchbar-inline-input-padding-horizontal: var(--f7-searchbar-input-padding-horizontal);
  --f7-searchbar-input-clear-button-color: var(--f7-input-clear-button-color);
  */
  --f7-searchbar-backdrop-bg-color: rgba(0, 0, 0, 0.4);
  --f7-searchbar-shadow-image: none;
  --f7-searchbar-in-page-content-margin: 0px;
  --f7-searchbar-in-page-content-box-shadow: none;
  --f7-searchbar-in-page-content-border-radius: 0;
  --f7-searchbar-in-page-content-input-border-radius: 0;
}
.ios .theme-dark,
.ios.theme-dark {
  --f7-searchbar-bg-color: #303030;
  --f7-searchbar-input-bg-color: #171717;
}
.md {
  --f7-searchbar-bg-color: #fff;
  --f7-searchbar-border-color: transparent;
  --f7-searchbar-height: 48px;
  --f7-searchbar-inner-padding-left: 0px;
  --f7-searchbar-inner-padding-right: 0px;
  --f7-searchbar-link-color: #737373;
  --f7-searchbar-search-icon-color: #737373;
  --f7-searchbar-input-font-size: 20px;
  --f7-searchbar-input-bg-color: #fff;
  --f7-searchbar-input-border-radius: 0px;
  --f7-searchbar-input-height: 100%;
  --f7-searchbar-input-padding-horizontal: 48px;
  /*
  --f7-searchbar-inline-input-font-size: var(--f7-searchbar-input-font-size);
  --f7-searchbar-inline-input-height: var(--f7-searchbar-input-height);
  */
  --f7-searchbar-inline-input-padding-horizontal: 24px;
  --f7-searchbar-input-clear-button-color: #737373;
  --f7-searchbar-backdrop-bg-color: rgba(0, 0, 0, 0.25);
  --f7-searchbar-shadow-image: var(--f7-bars-shadow-bottom-image);
  --f7-searchbar-in-page-content-margin: 8px;
  --f7-searchbar-in-page-content-box-shadow: var(--f7-elevation-1);
  --f7-searchbar-in-page-content-border-radius: 4px;
  --f7-searchbar-in-page-content-input-border-radius: 4px;
}
.md .theme-dark,
.md.theme-dark {
  --f7-searchbar-bg-color: #222222;
  --f7-searchbar-input-bg-color: #222222;
}
.aurora {
  /*
  --f7-searchbar-bg-image: var(--f7-bars-bg-image);
  --f7-searchbar-bg-color: var(--f7-bars-bg-color);
  --f7-searchbar-border-color: var(--f7-bars-border-color);
  */
  --f7-searchbar-height: 38px;
  --f7-searchbar-inner-padding-left: 8px;
  --f7-searchbar-inner-padding-right: 8px;
  /*
  --f7-searchbar-link-color: var(--f7-bars-link-color, var(--f7-theme-color));
  */
  --f7-searchbar-search-icon-color: #939398;
  --f7-searchbar-input-font-size: 13px;
  --f7-searchbar-input-bg-color: #fff;
  --f7-searchbar-input-border-radius: 4px;
  --f7-searchbar-input-height: 24px;
  --f7-searchbar-input-padding-horizontal: 24px;
  /*
  --f7-searchbar-inline-input-font-size: var(--f7-searchbar-input-font-size);
  --f7-searchbar-inline-input-height: var(--f7-searchbar-input-height);
  --f7-searchbar-inline-input-padding-horizontal: var(--f7-searchbar-input-padding-horizontal;
  --f7-searchbar-input-clear-button-color: var(--f7-input-clear-button-color);
  */
  --f7-searchbar-backdrop-bg-color: rgba(0, 0, 0, 0.4);
  --f7-searchbar-shadow-image: none;
  --f7-searchbar-in-page-content-margin: 0px;
  --f7-searchbar-in-page-content-box-shadow: none;
  --f7-searchbar-in-page-content-border-radius: 0;
  /*
  --f7-searchbar-in-page-content-input-border-radius: var(--f7-searchbar-input-border-radius);
  */
}
.aurora .theme-dark,
.aurora.theme-dark {
  --f7-searchbar-input-bg-color: #333;
}

/* searchbar */



/* .admin-shop-images {
    list-style: none;
    overflow-x: auto;
    width: 800px;
    white-space: nowrap;
}

.admin-shop-images li {
    background-color: #f3efea;
    margin-right: 25px;
    width: 105px;
    height: 105px;
    display: inline-block;
}

.admin-shop-images li a {
    display: block;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.admin-shop-images li:last-child {
    margin-right: 0;
} */

/* apartment block */
.glob{
  width: 100%;
  margin-right: 10px;
}

.myhidescrolled {
    list-style: none;
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}

.myhidescrolled li:first-child {
    margin-left: 3.5%;
}
.myhidescrolled li:last-child {
    margin-right: 3.5%;
}



.myhidescrolled li a {

    /* height: 68.5%; */
    height: 100%;
    width: 100%;

}

.header-photo{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width:100%;
  height: 68.5%;
  background-position: center center;
  background-size: cover;
  image-rendering: optimizeSpeed;

}

.photo-description{
  width:100%;
  height: 31.5%;
  background-color: #f2f2f2;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header-text{
    width:100%;
    height: 33.3%;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* color:#333333; */
    color:#4d4d4d;
    padding-left: 6%;
    padding-top: 5%;
    font-weight: 600;
    font-size: 2.1vh;
}
.small-text{
  width:100%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color:#999999;
  padding-left: 6%;
  padding-top: 0%;
  font-weight: 500;
  font-size: 1.5vh;
  height: 2.2vh;
}
.stars-line{
  width:100%;
  height: 33.3%;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 5%;
}



.stars-line-child i{
  display: inline-block;
  height: 100%;
  font-size: 1.7vh;
  color:#ffb712;
}

.stars-line div{
  height: 100%;
  float: left;
}

.stars-line-child {
  width:60%;
}

.stars-reiting{
    width:30%;
    font-size: 1.7vh;
    padding-top: 0.4vh;
    color:#ffb712;
}

/* vw
vh */

.hot-listings{
  font-size: 1.5em;
  font-weight: 600;
  margin-left: 12%;
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/* apartment block */

/* icons block */

.globtwo{
  width: 100%;
  margin-top: 2vh;
}



.myhidescrolledtwo {
    list-style: none;
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}

.myhidescrolledtwo li:first-child {
    margin-left: 6.0%;
}
.myhidescrolledtwo li:last-child {
    margin-right: 3.5%;
}

.myhidescrolledtwo li {
    margin-right: 7.0%;
    width: 16%;
    height: 12vh;
    display: inline-block;
    /* background-color: yellow; */
    overflow: hidden;
}


.header-photo-two{

    border-radius: 90px;
    width: 85%;
    height: 60%;
    background-color: #ffb71e;
    margin-left: 7.5%;

}
.header-photo-cars{

    border-radius: 90px;
    width: 85%;
    height: 60%;
    background-color: #ff7c4a;
    margin-left: 7.5%;

}

.header-photo-work{

    border-radius: 90px;
    width: 85%;
    height: 60%;
    background-color: #6cbbff;
    margin-left: 7.5%;

}
.header-photo-electronic{

    border-radius: 90px;
    width: 85%;
    height: 60%;
    background-color: #9897ff;
    margin-left: 7.5%;

}

.icon-draw{
  font-size: 2.9em !important;
  margin-top: 0.5vh;
  margin-left: 7%;
  color:#ffecbb;
}

.icon-draw-car{
  font-size: 2.9em !important;
  margin-top: 0.5vh;
  margin-left: 7%;
  color:#ffe5d9;
}


.icon-draw-work{
  font-size: 2.5em !important;
  margin-top: 0.5vh;
  margin-left: 14%;
  color:#d2ebff;
}
.icon-draw-electronic{

  font-size: 2.5em !important;
  margin-top: 1vh;
  margin-left: 14%;
  color: #e7e7ff;
}

.photo-description-two{
  width:100%;
  height: 31.5%;

  overflow-x: hidden;
  overflow-y: hidden;
}


.small-text-two{
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999999;
  padding-left: 1%;
  font-weight: 500;
  font-size: 1.8vh;
  height: 2.2vh;
  margin-top: 1.1vh;
  text-align: center;
}


/* icons block */

/* big photo blog */

.globThree{
  width: 100%;
  margin-right: 10px;
}

.myhidescrolledThree {
    list-style: none;
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}

.myhidescrolledThree li:first-child {
    margin-left: 3.5%;
}
.myhidescrolledThree li:last-child {
    margin-right: 3.5%;
}




.myhidescrolledThree li a {
    /* height: 68.5%; */
    height: 100%;
    width: 100%;

}

.aChild{
  height: 100%;
  width: 100%;

  border-radius: 5px;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  image-rendering: optimizeSpeed;
}

.Mn{
  margin-bottom:4vh;
}

.bChild{
  background-color: white;
  width: 90%;
  height: 10vh;
  margin-top: 49%;
  bottom: 0vh;
  margin-left: 5.2%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.headT{
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  margin-top: 1vh;
  margin-left: 1%;
  width: 100%;
  margin-right: 1%;
  color:#000000;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.smText{
  text-align: center;
  font-size: 0.85em;
  color: #adadad;
  margin-top: 0.7vh;
  margin-left: 1%;
  margin-right: 1%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* big photo blog */

/* three_view main */

.mainrow{
  width:100%;
}

.mainrow div{
    float:left;

}

img {
  /* display: block; */
  /* object-fit: cover; */
  image-rendering: optimizeSpeed;

}


/* three_view main */


.insertimg{
  height:35vh;
}



:root {
  --f7-messagebar-bg-color: #fff;
  --f7-messagebar-shadow-image: none;
  --f7-messagebar-textarea-bg-color: transparent;
  --f7-messagebar-attachments-height: 155px;
  --f7-messagebar-attachment-height: 155px;
  --f7-messagebar-attachment-landscape-height: 120px;
  --f7-messagebar-sheet-height: 252px;
  --f7-messagebar-sheet-landscape-height: 192px;
  /*
  --f7-messagebar-inner-padding-left: var(--f7-toolbar-inner-padding-left);
  --f7-messagebar-inner-padding-right: var(--f7-toolbar-inner-padding-right);
  */
}
:root .theme-dark,
:root.theme-dark {
  --f7-messagebar-bg-color: var(--f7-bars-bg-color);
}
.ios {
  --f7-messagebar-height: 44px;
  --f7-messagebar-font-size: 17px;
  /*
  --f7-messagebar-link-color: var(--f7-theme-color);
  */
  --f7-messagebar-border-color: transparent;
  --f7-messagebar-textarea-border-radius: 17px;
  --f7-messagebar-textarea-padding: 6px 15px;
  --f7-messagebar-textarea-height: 34px;
  --f7-messagebar-textarea-text-color: #000;
  --f7-messagebar-textarea-font-size: 17px;
  --f7-messagebar-textarea-line-height: 20px;
  --f7-messagebar-textarea-border: 1px solid #c8c8cd;
  --f7-messagebar-sheet-bg-color: #d1d5da;
  --f7-messagebar-attachments-border-color: #c8c8cd;
  --f7-messagebar-attachment-border-radius: 12px;
}
.ios .theme-dark,
.ios.theme-dark {
  --f7-messagebar-textarea-text-color: #fff;
  --f7-messagebar-textarea-border: 1px solid var(--f7-bars-border-color);
  --f7-messagebar-attachments-border-color: var(--f7-bars-border-color);
}
.md {
  --f7-messagebar-height: 48px;
  --f7-messagebar-font-size: 16px;
  --f7-messagebar-link-color: #333;
  --f7-messagebar-border-color: #d1d1d1;
  --f7-messagebar-textarea-border-radius: 0px;
  --f7-messagebar-textarea-padding: 5px 8px;
  --f7-messagebar-textarea-height: 32px;
  --f7-messagebar-textarea-text-color: #333;
  --f7-messagebar-textarea-font-size: 16px;
  --f7-messagebar-textarea-line-height: 22px;
  --f7-messagebar-textarea-border: 1px solid transparent;
  --f7-messagebar-sheet-bg-color: #fff;
  --f7-messagebar-attachments-border-color: #ddd;
  --f7-messagebar-attachment-border-radius: 4px;
}
.md .theme-dark,
.md.theme-dark {
  --f7-messagebar-border-color: #282829;
  --f7-messagebar-link-color: rgba(255, 255, 255, 0.87);
  --f7-messagebar-textarea-text-color: rgba(255, 255, 255, 0.87);
  --f7-messagebar-attachments-border-color: rgba(255, 255, 255, 0.2);
}
.aurora {
  --f7-messagebar-height: 38px;
  --f7-messagebar-font-size: 14px;
  /*
  --f7-messagebar-link-color: var(--f7-theme-color);
  */
  --f7-messagebar-border-color: transparent;
  --f7-messagebar-textarea-border-radius: 12px;
  --f7-messagebar-textarea-padding: 3px 10px;
  --f7-messagebar-textarea-height: 24px;
  --f7-messagebar-textarea-text-color: #000;
  --f7-messagebar-textarea-font-size: 13px;
  --f7-messagebar-textarea-line-height: 16px;
  --f7-messagebar-textarea-border: 1px solid #c8c8cd;
  --f7-messagebar-sheet-bg-color: #fff;
  --f7-messagebar-attachments-border-color: #c8c8cd;
  --f7-messagebar-attachment-border-radius: 12px;
}
.aurora .theme-dark,
.aurora.theme-dark {
  --f7-messagebar-textarea-text-color: #fff;
  --f7-messagebar-textarea-border: 1px solid var(--f7-bars-border-color);
  --f7-messagebar-attachments-border-color: var(--f7-bars-border-color);
}

/* contacts */





.pleft_block{
    float:left;
    width:25%;
    height: 100%;
}

.pleft_block_1{
  /* background: url(https://www.daily-sun.com/assets/news_images/2017/08/14/thumbnails/Daily-Sun-38-01-14-08-2017.jpg) no-repeat center/cover; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 62%;
  height: 66%;
  margin-left: 20%;
  margin-right: 15%;
  border-radius: 50px;
  margin-top: 17%;
}

.pleft_block_2{
  width: 20%;
  height: 20%;
  margin-left: 68%;
  font-size: 0.9em;
  position: relative;
  top: -15%;
}



.pright_block{
    float:left;
    width:73%;
    height: 100%;
}

.pright_block_1{

    width:100%;
    height: 50%;
}
.pright_block_2{
  width:100%;
  height: 50%;

}

.pright_block_2_1{
  width:73%;
  height: 100%;
  float:left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.05em;
  font-weight: 500;
  opacity: 0.8;
  margin-top:-6%;
}
.pright_block_2_2{
  margin-top: -6%;
  width: 13%;
  height: 40%;
  float: left;
  opacity: 0.8;
  font-size: 1.05em;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #3880ff;
  padding: 2%;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.pright_block_1_2{
  float:left;
  width:74%;
  height: 100%;
  font-size: 1.3em;
  font-weight: 500;
  padding-top: 7%;
  opacity: 0.8;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pright_block_1_3{
  float: left;
  width: 25%;
  height: 100%;
  font-size: 1em;
  font-weight: 500;
  padding-top: 8%;
  opacity: 0.8;
  overflow: hidden;

}

.mysize{
  color: #00cc00;
  font-size: 18px !important;
}
.mysize_offline{
  color: #bfbfbf;
  font-size: 18px !important;
}

/* contacts */

.notifTitle{
  float:left;
  width: 80%;
}

.notifIcon{
  width: 30px;
  height: 40%;
  float: left;
  opacity: 0.8;
  font-size: 1.05em;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #3880ff;
  padding: 2%;
  border-radius: 10px;
  text-align: center;
  color: white;
  display: none;
}


/* new line */

.myhidescrolledThreeN {
    list-style: none;
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}

.myhidescrolledThreeN li:first-child {
    margin-left: 5.0%;
}
.myhidescrolledThreeN li:last-child {
    margin-right: 7.5%;
}



.myhidescrolledThreeN li a {
    /* height: 68.5%; */
    height: 100%;
    width: 100%;

}

.greyLights{
  background-color: #d9d9d9;
}
.greyLightsdefault{
  background-color: #d9d9d9;
}

.greyLights2{
  background-color: #d9d9d9;
}

.greyLights3{
  background-color: #d9d9d9;
}


.greyLights4{
  background: rgb(200,200,200);
background: -webkit-linear-gradient(left, rgba(200,200,200,1) 40%, rgba(218,222,226,1) 49%, rgba(239,241,241,1) 56%);
background: -o-linear-gradient(left, rgba(200,200,200,1) 40%, rgba(218,222,226,1) 49%, rgba(239,241,241,1) 56%);
background: linear-gradient(to right, rgba(200,200,200,1) 40%, rgba(218,222,226,1) 49%, rgba(239,241,241,1) 56%);
}

.greyLights5{
  background-color: #d9d9d9;
}

.greyLights6{
  background-color: #d9d9d9;
}

/* map */

#map {
        height: 70%;
        z-index:9995 !important;
      }
      /* Optional: Makes the sample page fill the window. */

      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        z-index:9992 !important;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
        z-index:9993 !important;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
        z-index:9994 !important;
      }


      .pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
        z-index:20000 !important;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
        z-index:9998 !important;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
        z-index:9997 !important;
      }


      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 57%;
        z-index:9996 !important;
        height: 3em;
        border:1px solid aqua;
        border-radius: 5px;
        margin-top:0.5em;

      }

      #pac-input:focus {
        border-color: #4d90fe;
        z-index:9995 !important;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
        z-index:9994 !important;
      }
      #target {
        width: 345px;
      }



      #markermap {
        height: 70%;
        width:100%;
      }



      .popup-bubble {
        /* Position the bubble centred-above its parent. */
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -100%);
        /* Style the bubble. */
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        font-family: sans-serif;
        overflow-y: auto;
        max-height: 60px;
        box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
      }
      /* The parent of the bubble. A zero-height div at the top of the tip. */
      .popup-bubble-anchor {
        /* Position the div a fixed distance above the tip. */
        position: absolute;
        width: 100%;
        bottom: /* TIP_HEIGHT= */ 8px;
        left: 0;
      }
      /* This element draws the tip. */
      .popup-bubble-anchor::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        /* Center the tip horizontally. */
        transform: translate(-50%, 0);
        /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
        width: 0;
        height: 0;
        /* The tip is 8px high, and 12px wide. */
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: /* TIP_HEIGHT= */ 8px solid white;
      }
      /* JavaScript will position this div at the bottom of the popup tip. */
      .popup-container {
        cursor: auto;
        height: 0;
        position: absolute;
        /* The max width of the info window. */
        width: 200px;
      }


      .union{
        width:100%;
      }

      .fl_left{
        width:30%;
        float:left;
      }

      .fl_right{
        width:70%;
        float:left;
      }
      .fl_right_text{
        margin-left: 2%;
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .fl_right_price{
        margin-left: 2%;
        margin-top: 1%;
        font-size: 15px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .below_text{
        margin-left: 2%;
        margin-top: 1%;
        font-size: 15px;
        font-weight: 400;
        color: black;

      }

      .center_top{
        width:100%;
        overflow: hidden;
      }

      .center_top div{
        cursor: pointer;
        transition: 0.3s;
      }

      .center_child_left{
        float: left;
        width:33%;
        height: 1%;
        text-align: center;
        border-bottom: 1px solid #5ac8fa;
        border-right: 1px solid #5ac8fa;
      }
      .center_child_right{
        float: left;
        width:33%;
        height: 1%;
        text-align: center;
        border-bottom: 1px solid #5ac8fa;
      }

      .center_top button:hover {
        background-color: #5ac8fa;
      }

      .center_top button.active {
        background-color: #5ac8fa;
      }

      .tabcontent {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 15%;
        left: 0px;

      }

      .inactive{
        visibility: hidden;

      }

      /* address form */

      #locationField, #controls {
        position: relative;
        width: 480px;
      }
      #autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
        font-family: "Roboto";
      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f9ff;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }

      .tArea{
        border: 1px solid lightblue;
        border-radius: 5px;
      }



/* map */
